.three.mobile-four.columns
  <!-- <img src="http://placehold.it/500x500&text=Logo"> -->
  .hide-for-small.panel
    %h5.subheader
      Dial 215-874-6778 and enter classroom code 777 to try!
  .panel.callout.radius
    %h6 Edit Classroom Info
%dl.tabs.contained.nine.columns#tab_grid
  %dt Student Performance
  %dt= link_to "Add new student", new_user_path
  %dd#current.active.tab.upper.navcont
    = link_to 'Current', "#simpleContained1"
  %dd#today.hide-for-small.tab.upper.navcont
    = link_to 'Today', "#simpleContained2"
  %dd#overall.hide-for-small.tab.upper.navcont
    = link_to 'Overall', "#simpleContained3"
%ul.tabs-content.contained.nine.columns#other
  = render :partial => 'grid_demo', :locals => { :users => @users, :classroom => @classroom, :answers => @answers }