<div class="row">
  <div class="row six columns offset-by-three">
    <h1>Add Classroom</h1>
    <%= form_for @classroom do |classroom_form| %>
      <%= classroom_form.label :classroom_name %>
      <br>
      <%= classroom_form.text_field :name %>
      <br>
      <%= classroom_form.label :number %>
      <br>
      <%= classroom_form.number_field :number %>
      <%= classroom_form.submit "Add classroom", class: "button" %>
    <% end %>
  </div>
</div>