
<!-- End Navigation -->

  <!-- Side Bar -->

        <div class="three mobile-four columns">

          <!-- <img src="http://placehold.it/500x500&text=Logo"> -->

          <div class="hide-for-small panel">

            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>

          <a href=<%= edit_classroom_path(@classroom)%>>
          <div class="panel callout radius" align="center">
            <h6>Edit Classroom Info</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->
<dl class="tabs contained nine columns">
  <dt> Student Performance </dt>
  <dd class="active"><a href="#simpleContained1">Current</a></dd>
  <dd class="hide-for-small"><a href="#simpleContained2">Today</a></dd>
  <dd class="hide-for-small"><a href="#simpleContained3">Overall</a></dd>
</dl>
<ul class="tabs-content contained nine columns">
  <li class="active" id="simpleContained1Tab">
    <div class="row">
      <dl class="vertical tabs pill two columns">
        <dd class="active"><a href="#vertical1">Percent Correct</a></dd>
        <dd><a href="#vertical2">Topic</a></dd>
        <dd><a href="#vertical3">Time per lecture</a></dd>
      </dl>
      <div class="ten columns percent_correct">
            <% @users.each do |user| %>

          <div class="four columns">
            <div class="panel <%= performance(user) %>">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
            <% end %>
      </div>

      <div class="ten columns topic">
        <% @users.each do |user| %>
          <div class="four columns">
            <div class="panel">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
        <% end %>
      </div>

      <div class="ten columns time_per_lecture">
        <% @users.each do |user| %>

          <div class="four columns">
            <div class="panel">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </li>

  <li class="active" id="simpleContained2Tab">
    <div class="row">
      <dl class="vertical tabs pill two columns">
        <dd class="active"><a href="#vertical1">Percent2 Correct</a></dd>
        <dd><a href="#vertical2">Topic</a></dd>
        <dd><a href="#vertical3">Time per lecture</a></dd>
      </dl>
      <div class="ten columns percent_correct">
            <% @users.each do |user| %>

          <div class="four columns">
            <div class="panel <%= performance(user) %>">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
            <% end %>
      </div>

      <div class="ten columns topic">
        <% @users.each do |user| %>
          <div class="four columns">
            <div class="panel">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
        <% end %>
      </div>

      <div class="ten columns time_per_lecture">
        <% @users.each do |user| %>

          <div class="four columns">
            <div class="panel">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </li>

  <li class="active" id="simpleContained3Tab">
    <div class="row">
      <dl class="vertical tabs pill two columns">
        <dd class="active"><a href="#vertical1">Percent3 Correct</a></dd>
        <dd><a href="#vertical2">Topic</a></dd>
        <dd><a href="#vertical3">Time per lecture</a></dd>
      </dl>
      <div class="ten columns percent_correct">
            <% @users.each do |user| %>

          <div class="four columns">
            <div class="panel <%= performance(user) %>">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
            <% end %>
      </div>

      <div class="ten columns topic">
        <% @users.each do |user| %>
          <div class="four columns">
            <div class="panel">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
        <% end %>
      </div>

      <div class="ten columns time_per_lecture">
        <% @users.each do |user| %>

          <div class="four columns">
            <div class="panel">
              <h6 class="subheader"><%= link_to user.name, user %></h6>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </li>


    <!-- End Managed By -->

          </div>
        </div>
      </div>
