%nav.top-bar#classbar
  %ul.left
    %button.tiny.button.round.blue.inactive.embossed#live
      = image_tag('noun/camera.svg', :class => 'camera')
      Live
    %button.tiny.button.round.inactive.embossed#analytics
      = image_tag('noun/chart.svg', :class => 'charticon')
      Analytics
    .info= "#{@classroom.name} (#{@classroom.random})"
%ul.tabs-content.contained.twelve.columns#other
  #add_student= link_to '+ Add student', "#", :'data-reveal-id' => "myModal", :class => 'tiny button round alert embossed'
  = render :partial => 'grid', :locals => { :users => @users, :classroom => @classroom, :answers => @answers }
#myModal.reveal-modal
  %h2 Add Student
  = form_for @user, :url => users_path, :remote => true do |f|
    .row
      = f.hidden_field :classroom_id, :value => @classroom.id
      .small-3.columns
        = f.text_field :name, :placeholder => 'Name'
      .small-3.columns
        = f.text_field :email, :placeholder => 'Email'
      .small-3.columns
        = f.text_field :cell_number, :placeholder => 'Cell Number'
      .small-3.columns
        = f.submit "Create", :class => 'button expand postfix'
  %a.close-reveal-modal &#215;




