
<!-- End Navigation -->

      <div class="row">

  <!-- Side Bar -->

        <div class="four mobile-four columns">

          <!-- <img src="http://placehold.it/500x500&text=Logo"> -->

          <div class="hide-for-small panel">
            <h3><%= @classroom.name %></h3>
            <h5><%= link_to("Teacher: #{@classroom.teacher.name}", @current_teacher) %></h5>
            <h5><%= "Number: #{@classroom.number}" %></h5>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>

          <a href=<%= edit_classroom_path(@classroom)%>>
          <div class="panel callout radius" align="center">
            <h6>Edit Classroom</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->
      <% @classroom.users.each do |user| %>
        <div class="eight columns">
          <div class="row">

          <a href=<%= user_path(user) %> >
            <div class="four mobile-two columns">

              <div class="panel">
                <h5><%= user.name %></h5>
                <h6 class="subheader"><%= "Correct Answers" %></h6>
              </div>
            </div>
          </a>
      <% end %>

      <a href=<%= new_user_path %> >
        <div class="four mobile-two columns">
          <!-- <img src="http://placehold.it/1000x1000&text=Thumbnail"> -->
          <div class="button">
            <h5>Add New Student</h5>
          </div>
        </div>
      </a>

    <!-- End Managed By -->

          </div>
        </div>
      </div>
