<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="row six columns offset-by-three">
    <h1>New Student</h1>
    <%= form_for(@user) do |f| %>
    <br>
      <%= f.label :name %>
    <br>
      <%= f.text_field :name %>
    <br>
      <%= f.label :email %>
    <br>
      <%= f.text_field :email %>
    <br>
      <%= f.label :cell_number %>
    <br>
      <%= f.text_field :cell_number %>
      <% if @auth.present? %>
        <%= render 'users/checkboxes' %>
      <% else %>
        <%= f.label :classroom_number %>
        <%= f.number_field :classroom_id %>
        <br>
      <% end %>
        <br>
      <%= f.submit "Create new student", class: "button" %>
    <% end %>
  </div>
</div>