.row
  .three.mobile-four.columns#class_list
    .row
    %h6 Manage Assignments
    .classrooms= link_to 'Add new classroom +', "#", :'data-reveal-id' => "myModal"
    %ul
      - @auth.classrooms.each do |classroom|
        .six.columns.classes
          %li.classrooms= link_to classroom.name, assignments_classroom_path(classroom), remote: true
        .six.columns
          %li.classrooms= link_to "Visit", classroom_path(classroom)
  .nine.columns
    #assignments
      = render partial: 'classrooms/assignments_page'
#myModal.reveal-modal
  %h2 Add Classroom
  = form_for @classroom, :remote => true do |f|
    .row
      .small-3.columns
        = f.text_field :name, :placeholder => 'Name'
      .small-3.columns
        = f.submit "Create", :class => 'button expand postfix'
  %a.close-reveal-modal &#215;
