.row
  .three.mobile-four.columns#class_list
    = render partial: 'classrooms/class_list'
  .nine.columns
    #assignments
      = render partial: 'classrooms/assignments_page'
#myModal.reveal-modal
  %h2 Add Classroom
  = form_for @classroom, :remote => true do |f|
    .row
      .small-3.columns
        = f.text_field :name, :placeholder => 'Name'
      .small-3.columns
        = f.submit "Create", :class => 'button expand postfix'
  %a.close-reveal-modal &#215;
