
<!-- End Navigation -->

      <div class="row">

  <!-- Side Bar -->

        <div class="four mobile-four columns">

          <img src="http://placehold.it/500x500&text=Logo">

          <div class="hide-for-small panel">
            <h3><%= @teacher.name %></h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>

          <a href=<%= edit_teacher_path(@teacher) %>>
          <div class="panel callout radius" align="center">
            <h6>Edit Profile</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->
      <% @teacher.classrooms.each do |classroom| %>
        <div class="eight columns">
          <div class="row">

          <a href=<%= classroom_path(classroom) %> >
            <div class="four mobile-two columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">

              <div class="panel">
                <h5><%= classroom.name %></h5>
                <h6 class="subheader"><%= "#{classroom.users.count} registered students." %></h6>
              </div>
            </div>
          </a>
      <% end %>

      <a href="/new_classroom" >
        <div class="four mobile-two columns">
          <!-- <img src="http://placehold.it/1000x1000&text=Thumbnail"> -->
          <div class="button">
            <h5>Add New Classroom</h5>
          </div>
        </div>
      </a>

    <!-- End Managed By -->

          </div>
        </div>
      </div>
